<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | E lerning</title>
  </head>
  <body>
<div class = "home_h1">
  <h1>Welcome to </h1>
  <h1>E-lerning System</h1>
 </div>
 <div class ="button">
    <a href="/users/new">
    <button class="btn btn-primary btn-lg"> Sign Up</button>
    </a>
  </div>
</body>
</html>
