<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | E lerning</title>
  </head>
  <body>
  <br><br>
  <h1>E learning</h1>
  <p>
    This is the home page for the E-lerning.
  </p>
</body>
</html>
