<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | E lerning</title>
  </head>
  <body>
    <% if logged_in? %>
    <div class="row">
      <aside class="col-md-3">
        <h1><%= current_user.name %></h1>
      </aside>
      <aside class="col-md-9">
        <h1>Activity's record</h1>
      </aside>
    </div>
    <% else %>

  <div class = "home_h1">
    <h1>Welcome to </h1>
    <h1>E-lerning System</h1>
  </div>
  <div class ="button">
    <a href="/users/new">
    <button class="btn btn-primary btn-lg"> Sign Up</button>
    </a>
  </div>
  <% end %>
  </body>
</html>
