<% provide(:title, "Category") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | E learning %></title>
  </head>
  <body>
    <h1>User list</h1>
  <div class="box">
    <ul class="users">

    <% @users.each do |user| %>
      <li>
      <%= link_to user.name, user %>
        <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %>
        <% end %>
      </li>
    <% end %>
    </ul>
    <%= will_paginate @users, previous_label: '<i class="glyphicon glyphicon-hand-left"></i>', next_label: '<i class="glyphicon glyphicon-hand-right"></i>' %>
    </div>
  </body>