<% provide(:title, "Category") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | E lerning %></title>
  </head>
  <body>

  <div class="container">

    <div class="row">
      <aside class="col-md-6">
        <h2>Basic 500</h2><p> You've learned</p>
          <a href="/users/new">
           <button class="btn btn-primary btn-lg">start</button>
          </a>
      </aside>
      <aside class="col-md-6">
        <%= image_tag 'images.png', :size =>'400x200' %>
      </aside>
    </div>

    <div class="row">
      <aside class="col-md-6">
        <%= image_tag 'order.jpg', :size =>'400x200' %>
      </aside>
      <aside class="col-md-6">
          <h2>At a Restaurant</h2><p> You've learned</p>
          <a href="/users/new">
           <button class="btn btn-primary btn-lg">start</button>
          </a>
      </aside>
    </div>

    <div class="row">
      <aside class="col-md-6">
          <h2>On a Trip</h2><p> You've learned</p>
          <a href="/users/new">
           <button class="btn btn-primary btn-lg">start</button>
          </a>
      </aside>
      <aside class="col-md-6">
        <%= image_tag 'hotel.png', :size =>'400x200' %>
      </aside>
    </div>
  </div>
</body>