<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | E lerning</title>
  </head>
  <body>

    <div class="container">
      <aside class="col-md-6">
        <%= @lesson_word %>
      </aside>

      <aside class="col-md-6">
        <h2>word_answer</h2>
        <h2>word_answer</h2>
        <h2>word_answer</h2>
      </aside>
    </div>

  </body>
</html>