.box{
  padding: 2em 2em;
  margin: 2em 2em;
  font-size :20px;
  font-weight: bold;
  background: #fff;
  border: solid 3px #6091d3;
  border-radius: 10px;
}

.box p{
  margin: 0;
  padding: 0;
}

.box ul{
  list-style :none;
}

.btn{
  width: 420px;
}

.categories{
  margin: auto;
}

.categories td{
  padding :10px 12px;
}

.word{
  text-align:center;
  font: 120px;
}

.words{
  margin: auto;
}

.words td{
  padding :10px 12px;
}