h1{
  font: 400% 'Avenir Next',;
  text-align: center;
  text-shadow: #000 1px 1px 0;
}

h2{
  padding-bottom: 20px;
}

.home{
  background-image: url("IMG_3170.jpg");
}

.button{
  text-align: center;
  padding-top: 40px;
  a{
  width:100px;
  padding:10px;
  text-align:center;
  }
}

.home p{
  text-align: center;
}

.stats {
  margin-left: 32px;
}

.stats a{
  color: black;
}